eval "$(guix environment -m manifest.scm --ad-hoc git-cal ncurses shellcheck python-language-server emacs man-db texinfo --search-paths)"


clear                            # Clean up the screen.
git-cal --author='Giacomo Leidi' # Show contributions calendar.

export PATH="$PWD/bin:$PATH"

if [ -f .local.envrc ]; then
  source_env .local.envrc
fi
